:root {
    --blue: #00F;
    --green: #14AA4B;
    --branco-principal: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo {
    background-color: #f2f2f2;
}

.header {
    background-color: var(--green);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    font-weight: bold;
}

.barra-pesquisa {
    display: inline;
}

.input-barra-pesquisa {
    padding: 0.5rem;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    color: var(--green);
}

.button-barra-pesquisa {
    background-color: var(--branco-principal);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    color: var(--green);
    font-weight: bold;
    transition: 0.45s ease-in-out;
}

.button-barra-pesquisa:hover {
    background-color: #d0d0d0;
    color: var(--green);
}

.logo {
    width: 50px;
}

.nav-link {
    color: #FFF;
    text-decoration: none;
    margin-right: 3px;
    padding: 5px;
    transition: 0.45s ease-in-out;
}

.nav-link:hover {
    background-color: #FFF;
    color: var(--green);
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 10% 0 10%;
}

.section-releases {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 50px 50px;
}

.releases-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.releases-video {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 400px;
}

.realeases-decription {
    padding: 0 20px 20px 20px;
    width: 50%;
    text-align: justify;
}

.realeases-decription p {
    margin-top: 20px;
}

.estrelas {
    font-size: 1.25rem;
}

.estrela-apagada {
    color: gray;
}

.video {
    width: 100%;
}

.title {
    margin: 30px 0;
}

.highlighted {
    margin: 0 auto;
    align-items: center;
    width: 80%;
    padding: 10px;
}

.highlighted-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.highlighted-header select {
    height: 2.5rem;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    color: var(--green);
}

.highlighted-highlights {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.highlighted-highlights img {
    width: 20%;
}

.highlighted-highlights select {
    padding: 5px;
}

.button-destaques-align {
    display: flex;
    flex-direction: row-reverse;
}

.button-destaques {
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 10px 0 20px 0;
    color: var(--branco-principal);
    font-weight: bold;
    transition: 0.45s ease-in-out;
}

.button-destaques:hover {
    background-color: var(--branco-principal);
    border: 2px var(--green) solid;
    color: var(--green);
}

.last-avaliations {
    padding: 5px;
    display: flex;
}

.last-avaliations div {
    padding: 10px;
    text-align: justify;
}

.last-avaliations h3 {
    margin-bottom: 10px;
}

.footer-avaliacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favorites-list{
    background-color: #14AA4B;
    padding-bottom: 7%;
}

.favorites-list h2 {
    color: #f2f2f2;
}
.list-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.favorite-video {
    background-color: #f2f2f2;
    height: 30%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid darkgreen;
    border-radius: 15px;
    margin-bottom: 10px;
    color: darkgreen;
}

.video-description {
    width: 80%;
    display: flex;
    justify-content: start;
}

.video-description img {
    width: 50px;
    margin-right: 10%;
}

.favorite-video button{
    padding: 0 8px;
    color: red;
    font-weight: 700;
}