@font-face {
    font-family: 'icones';
    src: url(/assets/font/icones.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #F2F2F2;
    font-family: 'Open Sans','icones', sans-serif;
    display: flex;
    flex-direction: column;
}

strong {
    font-weight: bold;
    color: rgb(7, 125, 161);
}

.cor__titulo {
    color: rgb(53, 138, 163);
    font-family: 'Quicksand', sans-serif;
}

.livre_sobre{
    display: flex;
    gap: 16px;
    padding: 16px;
    height: 100vh;
    width: 100%;
} 

.sobre_mobile--imagem{
    display: none;
}

@media screen and (max-width: 800px) {


    .livre_sobre {
        flex-direction: column;
        height: 100%;
    }

    .livre_sobre--imagem {
        display: none;
    }

    .livre_sobre--sobre{
        width: 100%;
        align-self: center;
    }

    .sobre_mobile--imagem {
        display: block;
        width: 350px;
        height: 350px;
        justify-self: center;
        align-self: center;

    }

    .main_container {
        flex-direction: column; }
        
    .card_container {
        display: flex;
        flex-direction: column;
    }    

    .card_container h2 {
        justify-self: center;
        align-self: center;
        margin: 0 25px 25px 25px;
    }

    .card{
        flex-direction: column;
        justify-self: center;
        align-items: center;
        margin: 0;
    }

    .card_panel {
        align-items: center;
        justify-items: center;
    }

    .tags_section  {
       display: flex;
       justify-self: center
    }

    .image_right{
        display: none;
    }

    .livre_seis {
        width: 100vw;
    }
    }

.livre_sobre--imagem {
    background-image: url(/assets/img/taçabrasil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 580px;
    justify-self: center;
    align-self: center;
    grid-row: span 3;
    grid-column: span 2;
    border-radius: 15px;
}

.livre_sobre--sobre{
    display: flex;
    flex-direction: column;
    padding: 16px;
    color: #252525;
    align-self: center;
    justify-self: center ;
    width: 50vw;
}

.sobre__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px ;
    padding-top: 16px;
}

.livre_sobre--editorial {
    padding: 16px;
    color: #252525;
}

.editorial__titulo {
    margin: 20px 0 20px 0;
}

.livre_sobre--editorial > p {
    margin-top: 12px;
}


.livre_sobre--redes {
    grid-column: 3;
    margin-top: 25px;
}

.rede-icon {
    width: 2.5rem;
    margin: 5px;
}

.main_container {
    margin:  20px 40px 0 40px;
    display: flex;
}

.card_section {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    background-color: #f6f9ff;
    margin: 10px;
    width: 100%;
}

.card_panel {
    padding-left: 1rem ;
}

.card_main_title h2 {
    font-size: 1.4rem;
    color: black;
    font-weight: 200;
}

.tags_section ul{
    display: flex;
    list-style: none;
}

.tags_section li {
    padding: 5px;
    background-color: grey;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.image_right {
    background-image: url(/assets/img/taçabrasil.jpg);
    background-size: cover;
    width: 50vw;
    height: 80vh;
    background-position: center;
    align-self: center;
}
.card_image img{
    width: 150px;
    height: 150px;
}

.livre_seis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh; }

.livre_seis__left {
    grid-column: 1;
    grid-row: span 3;
    background-color: red;
}

.livre_seis__up {
    grid-column-start: 2 ;
    grid-column-end: span 2;
    grid-row: 1;
    background-color: green;
}

.livre_seis__middle {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row: 2;
    background-color: orangered;
}

.livre_seis__down {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row: 3;
    background-color: greenyellow;
}

.livre_seis__right {
    grid-column: 4;
    grid-row: span 3;
    background-color: blue;
}
